.search {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;

  input {
    width: 100%;
    max-width: 400px;
    height: 2rem;
    border: 2px solid $accent1;
    border-radius: 4px;
  }
}
