html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.layout-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 2rem;
}
.pokedex {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
@media (min-width: 600px) {
  .pokedex {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 800px) {
  .pokedex {
    grid-template-columns: repeat(3, 1fr);
  }
}

.pokemon {
  border: 2px solid black;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}
