@import './reset.scss';
@import './layout.scss';
@import './pokedex';
@import './header';
@import './variables';
@import './pokemon-type-buttons';
@import './search';

body {
  color: $accent1;
}

.hidden {
  display: none;
}

.title {
  margin-bottom: 2rem;
}
